.page-index {
    .at-nav-bar {
        background-color: #eee;
        color: #999;
        .at-nav-bar__title {
            font-size: 28rpx;
        }
        .at-nav-bar__left-view {
            color: red;
        }
        .at-nav-bar__right-view {
            color: red;
        }
    }
}