// @import "~taro-ui/dist/style/components/avatar.scss";
// @import "~taro-ui/dist/style/components/flex.scss";
.classifyContainer {
    padding-left: 20px;
    // margin-bottom: 20px;
    .classifyContainer-row {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // display: flex;
        // justify-content: space-around;
        .classifyContainer-col {
            width: 220px;
            min-height: 360px;
            background-color: #fff;
            border-radius: 10px;
            .classify-text {
                color: #999;
                font-size: 20px;
                padding: 10px;
            }
            .col-info {
                padding: 0 10px 10px;
                display: flex;
                font-size: 20px;
            }
        }
    }
}